.personal-foto {
    width: 250px;
    height: 250px;
    border-radius: 50% 50%;
    margin-top: -470px;
    margin-left: 1000px;
}

div .para{
width: 100%;
   margin-left: 70px;
    font-weight: 200;
    text-shadow: 5px 5px 10px #00FF00;
}
.myh1{
margin-left: 60px;
text-shadow: 5px 5px 10px #00FF00;
}
.all-text{
    width: 100%;
    /* text-align: center; */
    position: relative;
    font-size: 30px;
    /* margin: auto; */
    left: -25px;
    top: 100px;
    font-weight: 400px;
}

@media (max-width:800px) {
    .personal-foto {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50% 50%;
        top: -130px;
        left: -300px;
    }
    .all-text{
        width: 100%;
        /* text-align: center; */
        /* position: relative; */
        font-size: 20px;
        /* margin: auto; */
        top: 100px;
        font-weight: 300px;
    }
    .all-padge{

width: 200%;

    }
    
}


@media (min-width: 800px) and (max-width: 1024px) { 
    .personal-foto {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50% 50%;
        top: -400px;
        left: -300px;
    }



}

