.personal-foto {
    width: 250px;
    height: 250px;
    border-radius: 50% 50%;
    margin-top: -420px;
    margin-left: 1000px;
}

div .para{
width: 100%;
/* padding-top: -100px; */
   margin-left: 70px;
    font-weight: 200;
    /* text-shadow: 2px 2px red; */
    text-shadow: 5px 5px 10px #00FF00;
}
.myh1{
margin-left: 60px;
text-shadow: 5px 5px 10px #00FF00;
}
.all-text{
    width: 100%;
    /* text-align: center; */
    position: relative;
    font-size: 30px;
    /* margin: auto; */
    left: -25px;
    top: 100px;
    font-weight: 400px;
}

@media (max-width:800px) {
    .personal-foto {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50% 50%;
      top: 130px;
        left: 450px;
    }
    .all-text{
        width: 100%;
        /* text-align: center; */
        position: relative;
        font-size: 20px;
        /* margin: auto; */
        top: 100px;
        font-weight: 400px;
    }
    .all-padge{
        width: 180%;
        height: 150%; }

}

/* @media (min-width:500px) and (max-width:800px) {
    .personal-foto {
        width: 200px;
        height: 200px;
        border-radius: 50% 50%;
        margin-top: -250px;
        margin-left: 60px;
    }
  

} */

/* @media (min-width:800px) and (max-width:1400px) {
    .personal-foto {
        width: 180px;
        height: 200px;
        border-radius: 50% 50%;
        margin-top: -350px;
        margin-left: 0px;
    }
.all-padge{
        width: 180%;
        /* height: 150%; */
        
        


/* @media (min-width:1200px) {
    .personal-foto {
        width: 200px;
        height: 200px;
        border-radius: 50% 50%;
        margin-top: -150px;

        float: right;
    } */



