.main-sec {
    margin:  auto;
    padding: 150px 0;
    height: 800px;
    width: 86%;
    display: flex;
    overflow: hidden;
    
}

.motion {
    display: flex;

}

.motion img {
    pointer-events: none;
    
    
}

.single-card {
    margin: 10px;
    width: 100%;
    height: 300px;
    position: relative;
    border: 2px solid #0c1821;
    border-radius: 10px;
    overflow: hidden;
    
}

.single-card img {
    height: 300px;
    position: relative;
    object-fit: cover;
    width: 100%;
}

.single-card .cont {
    display: flex;
    justify-content: center;
    gap: 15px;
    position: absolute;
    height: 100%;
    width: 100%; 
   
    color: white;
    cursor: pointer;
    transition: 0.4s;
   
    text-shadow: 5px 5px 10px red;
    
   
}

.single-card h1::before {
 
    background-color: red;
   
}

.single-card .cont:hover {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #070707ab;
    z-index: 1;
    width: 100%;
    height: 100%;
}
@media (max-width: 800px) {
    .motion {
        position: absolute;
        display: flex;
        flex-direction:column;
       width: 70%;
       height: 200%;
      
       
    }

    .single-card  {
        object-fit: cover;
        margin-left: 60px;
    }
  
    }
  

