img {
    position: absolute;
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: cover;
    object-fit: cover;
    
}

.image-bg {

    position: relative;
    
}

.empty-background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 120vh;

}


.p-h1-twobtn {
    width: 70%;
    text-align: center;
    position: relative;
    font-size: 30px;
    margin: auto;
    top: 300px;

}


.two-button {
    padding: 10px 20px;
}

.btn-project {
    padding: 10px 17px;
    font-size: 16px;
    color: black;
    background-color: yellow;
    border: 1px solid white;
    font-weight: 800;
    margin: 15px;
}

.btn-project:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.486);

}

.btn-contact {
    padding: 10px 17px;
    font-size: 16px;
    color: white;
    font-weight: 800;
    border: 1px solid white;
}

.btn-contact:hover {

    color: black;
    background-color: yellow;
}

@media (max-width: 500px) {

    .p-h1-twobtn {
        width: 60%;
        text-align: center;
        position: relative;
        font-size: 30px;
        margin: auto;
        top: 250px;
        left: -50px;
    
    }
    .two-button {
        padding: 10px 20px;
      
    }
    
    img {
        position: absolute;
        width: 120%;
        height: 100vh;
        background-size: cover;
        background-position: cover;
        object-fit: cover;
    }
    .empty-background {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.705);
        width: 120%;
        height: 100vh;
    
    }
}


  